<swiper-container pager="true" class="slide-full" slides-per-view="3.3" free-mode="true" space-between="8">
  <swiper-slide *ngFor="let pares of peliculas | pares">
    <ion-row class="custom-row">
      <ion-col size="12" *ngFor="let pelicula of pares" class="custom-col">
        <div class="movie-card" (click)="verDetalle(pelicula.id)">
          <img class="poster" [src]="pelicula.poster_path | imagen">
        </div>
      </ion-col>
    </ion-row>
  </swiper-slide>

  <swiper-slide class="slide-mas">
    <ion-button expand="full" class="btn-mas" size="large" (click)="onClick()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </swiper-slide>
</swiper-container>
